<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anda.Club | Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="main flex justify-center items-center min-h-screen">
        <div class="flex flex-col p-6 rounded-[8px] bg-[#0e0e0e]">
            <h1 class="text-6xl text-center">Login</h1>
            <form action="/login?returnUrl=<%= returnUrl %>" method="POST" class="flex flex-col gap-3 mt-3">
                <input type="text" name="username" placeholder="Username"
                    class="p-2 rounded-md bg-[#ffffff0d] focus:outline-none" required />
                <input type="password" name="password" placeholder="Password"
                    class="p-2 rounded-md bg-[#ffffff0d] focus:outline-none" required />
                <button type="submit" class="p-2 bg-[#e4adb6] text-white rounded-md">Login</button>
            </form>
        </div>
    </div>
</body>

</html>